# Created by .ignore support plugin (hsz.mobi)
### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

.gitignore
.idea/.name
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/play2_project_settings.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
app/org/
project/project/target/config-classes/$a303c763c90ecf3efbc0$.class
project/project/target/config-classes/$a303c763c90ecf3efbc0.cache
project/project/target/config-classes/$a303c763c90ecf3efbc0.class
project/project/target/config-classes/$f3a99cd1ab64ac5a25ae$.class
project/project/target/config-classes/$f3a99cd1ab64ac5a25ae.cache
project/project/target/config-classes/$f3a99cd1ab64ac5a25ae.class
project/target/config-classes/$0567a59deefac04d3104$$anonfun$$sbtdef$1.class
project/target/config-classes/$0567a59deefac04d3104$.class
project/target/config-classes/$0567a59deefac04d3104.cache
project/target/config-classes/$0567a59deefac04d3104.class
project/target/config-classes/$40ded5d409e27c5aa383$$anonfun$$sbtdef$1.class
project/target/config-classes/$40ded5d409e27c5aa383$.class
project/target/config-classes/$40ded5d409e27c5aa383.cache
project/target/config-classes/$40ded5d409e27c5aa383.class
project/target/config-classes/$48c06e9062f4580286a1$$anonfun$$sbtdef$1.class
project/target/config-classes/$48c06e9062f4580286a1$.class
project/target/config-classes/$48c06e9062f4580286a1.cache
project/target/config-classes/$48c06e9062f4580286a1.class
project/target/config-classes/$820b3f3609f8403d83b4$$anonfun$$sbtdef$1.class
project/target/config-classes/$820b3f3609f8403d83b4$.class
project/target/config-classes/$820b3f3609f8403d83b4.cache
project/target/config-classes/$820b3f3609f8403d83b4.class
project/target/config-classes/$b2fd7abdfe62a4bcfa0c$$anonfun$$sbtdef$1.class
project/target/config-classes/$b2fd7abdfe62a4bcfa0c$.class
project/target/config-classes/$b2fd7abdfe62a4bcfa0c.cache
project/target/config-classes/$b2fd7abdfe62a4bcfa0c.class
project/target/config-classes/$db167fd25459e1309dff$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$db167fd25459e1309dff$$anonfun$$sbtdef$1.class
project/target/config-classes/$db167fd25459e1309dff$$anonfun$$sbtdef$2.class
project/target/config-classes/$db167fd25459e1309dff$$anonfun$$sbtdef$3.class
project/target/config-classes/$db167fd25459e1309dff$.class
project/target/config-classes/$db167fd25459e1309dff.cache
project/target/config-classes/$db167fd25459e1309dff.class
project/target/config-classes/$f895edd1361797110187$$anonfun$$sbtdef$1.class
project/target/config-classes/$f895edd1361797110187$.class
project/target/config-classes/$f895edd1361797110187.cache
project/target/config-classes/$f895edd1361797110187.class
project/target/config-classes/$fc3308562063af443bab$$anonfun$root$1.class
project/target/config-classes/$fc3308562063af443bab$$anonfun$root$2.class
project/target/config-classes/$fc3308562063af443bab$$anonfun$root$3.class
project/target/config-classes/$fc3308562063af443bab$$anonfun$root$4.class
project/target/config-classes/$fc3308562063af443bab$.class
project/target/config-classes/$fc3308562063af443bab.cache
project/target/config-classes/$fc3308562063af443bab.class
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
